<div class="page-container">
    <div class="container-title">
        <page-title
            title="_NamePage"
        ></page-title>
    </div>

    <filter
        [filters]="filters"
        (FilterParams)="searchTable($event)"
    ></filter>

    <tabs
        [tabs]="tabs"
        [tabSelected]="tabSelected"
        (tabSelectEvent)="selectedTabList($event)"
    ></tabs>

    <div class="loading-center">
        <loading-circle
            [loading]="loadingTable"
        ></loading-circle>
    </div>

    <div *ngIf="!loadingTable && reportList.length && tabSelected === 'Relatório'">
        <div class="table-data"> 
            <div class="table">
                <div class="tablePrimary">
                    <table>
                        <thead>
                            <tr>
                                <th *ngFor="let item of headerPrimary">
                                    {{ item.value }}
                                </th>
                            </tr>
                        </thead>
        
                        <tbody *ngIf="!loadingTable">
                            <tr 
                                *ngFor="let item of reportList | paginate: { itemsPerPage: perPage, currentPage: pageCurrent, totalItems: reportList.length}; 
                                let i = index" [attr.id]="'table_primary_'+i" 
                            >    
                                <td>{{ item.date }}</td>
                                <td>{{ item.userProfile.name }}</td>
                                <td>{{ item.userProfile.manager }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
                <div class="tableSecondary">
                    <table>
                        <thead>
                            <tr>
                                <th *ngFor="let item of headerSecondary">
                                    {{ item.value }}
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody *ngIf="!loadingTable">
                            <tr 
                                *ngFor="let item of reportList | paginate: { id:'_NameTable', itemsPerPage: perPage, currentPage: pageCurrent, totalItems: reportList.length }; let i = index"
                                [attr.id]="'table_secondary_'+i"
                                >    
                                {{resizeTr(i)}}
                                <td>{{ item.clientInformation.tradeName }}</td>
                                <td>{{ item.clientInformation.companyName }}</td>
                                <td>{{ item.clientInformation.cnpj }}</td>
                                <td>{{ item.clientInformation.channel }}</td>
                                <td>{{ item.clientInformation.subChannel }}</td>
                                <td>{{ item.clientInformation.generalChannel }}</td>
                                <td>{{ item.clientInformation.network }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </div>

    <div class="finishTable" *ngIf="!loadingTable && reportList.length && tabSelected === 'Relatório'">
        <h3>Total: {{ reportList.length }}</h3>
        <table-paginator
            paginationId="_NameTable"
            [page]="pageCurrent"
            (numberPage)="changePage($event)"
        ></table-paginator>

        <default-export-button
            [loadingExport]="loadingExportExcel"
            (export)="exportTable()"
        ></default-export-button>
    </div>

    <div class="table-empty" *ngIf="!loadingTable && !reportList.length && tabSelected === 'Relatório'">
        <h2>Nenhum dado encontrado</h2>
    </div>
</div>