.item-container {
    padding: 0px 45px 0px 45px;
    background: #F9FAFB;
    
    h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        color: var(--dark);
    }
}